<div class="login">
    <div class="title">Login</div>
    <div class="row">
        <div class="col caption">{{ "PAGES.LOGIN.EMAIL" | translate}}</div>
        <div class="col note">*{{ "PAGES.LOGIN.REQUIRED" | translate}}</div>
    </div>
    <input placeholder="Enter e-mail" class="row input" [(ngModel)]="email">
    <div class="row">
        <div class="col caption">{{ "PAGES.LOGIN.PASSWORD" | translate}}</div>
        <div class="col note">*{{ "PAGES.LOGIN.REQUIRED" | translate}}</div>
    </div>
    <input placeholder="Enter password" class="row input" [(ngModel)]="password">
    <div class="row">
        <div class="col forgot-password">{{ "PAGES.LOGIN.FORGOT" | translate}}</div>
        <button class="col login-button" [disabled]="isLoginDisabled()" (click)="onLoginClick()" 
        [ngClass]="{'button-disabled':isLoginDisabled() === true}">{{ "SHARED.BUTTON.LOGIN" | translate}}</button>
    </div>
</div>
