<div class="parent">
    <div class="c1">
        <div class="input">
            <i class="input-icon"></i>
            <input placeholder="Text to search" class="input-search" [(ngModel)]="searchStr">
            <button type="button" class="search-button" (click)="onSearchClick()">Search</button>
        </div>
        <div class="add-course">
            <div class="edit-copy"></div>
            <button class="button" (click)="addCourse()">Add course</button>
        </div>
    </div>
    <div>
        <angular-course-item (onDeleteCourse)="onDeleteCourse($event)" *ngFor="let item of items" [item]="item">
        </angular-course-item>
    </div>
    <div>
        <angular-load-more></angular-load-more>
    </div>
</div>