<div class="header">
    <div class="input">
        <i class="input-icon"></i>
        <input placeholder="Text to search" class="input-search" [(ngModel)]="searchStr" (ngModelChange)="search()">
    </div>
    <div>
        <button class="add-button" (click)="addCourse()">{{ "PAGES.COURSES_LIST.BTN_ADD_COURSE" | translate }}</button>
    </div>
</div>
<ng-container *ngIf="items$ | async as items">
    <div>
        <angular-no-items *ngIf="items?.length == 0"></angular-no-items>
    </div>
    <div>
        <angular-course-item (onDelete)="onDeleteCourse($event)" *ngFor="let item of items" [item]="item">
        </angular-course-item>
    </div>
    <div>
        <angular-load-more *ngIf="items?.length > 0" (onLoadMore)="loadMore()"></angular-load-more>
    </div>
</ng-container>