<div class="course-item" [angularCheckDate]=item [ngClass]="{'top-rated':item.isTopRated === true}">
    <div class="main-info">
        <div class="row">
            <div class="col title">{{item.name | uppercase}}</div>
            <div class="col star" *ngIf="item.isTopRated">&#9733;</div>
            <div class="col time">{{item.length | number | duration}}</div>
            <div class="col date">{{item.date | date}}</div>
        </div>
        <div class="row">
            <div class="col description">{{item.description}}</div>
        </div>
    </div>
    <div class="button-item ">
        <button class="button button-edit" (click)="edit()">
            {{ "PAGES.COURSES_LIST.BTN_EDIT_COURSE" | translate }}</button>
    </div>
    <div class="button-item">
        <button class="button button-delete" (click)="delete()">
            {{ "PAGES.COURSES_LIST.BTN_DELETE_COURSE" | translate }}</button>
    </div>
</div>