.wrapper {
  position: relative;
  background-color: rgb(240, 240, 240);
  height: 100%; 
}
.content {
    padding-top: 120px;
    padding-bottom: 60px;
    padding-left: 6.6%;
    padding-right: 6.6%;
    background-color: rgb(240, 240, 240);    
  }