<div class="header">
    <div class="logo">
        <angular-logo></angular-logo>
    </div>
    <ng-container *ngIf="isAuth$ | async">
        <div class="profile user">
            <img src="assets/img/ic-user.svg">
            {{userName$ | async}}
        </div>
        <div class="profile" (click)="exit()">
            <img class="exit" src="assets/img/ic-exit.svg">
            {{ "SHARED.HEADER.LOGOUT" | translate }}
        </div>
    </ng-container>
    <select [(ngModel)]="language" class="language" (change)="onLanguageChanged()">
        <option value="en">English</option>
        <option value="sv">Svenska</option>
    </select>
</div>