.header {
    height: 40px;
    padding: 10px 0;
    background-color: #414452;
    font-family: sans-serif;
    font-weight: bold;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    flex: 1;
    flex-grow: 5;
    padding-left: 6.6%;
}

.profile {
    flex: 1;
    padding-right: 50px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
}

.user {
    flex-grow: 5;
    text-align: right;
}

.exit {
    font-size: 14px;
}

.language {
    width: 100px;
    margin-right: 50px;
}