<div class="header">
    <div class="logo">
        <angular-logo></angular-logo>
    </div>
    <!--ng-container *ngIf="isAuth"-->
            <ng-container *ngIf="(isAuth$ | async)?.isAuthentificated">
        <div class="profile user">
            <img src="assets/img/ic-user.svg">
            {{(isAuth$ | async)?.userName}}
        </div>
        <div class="profile" (click)="exit()">
            <img class="exit" src="assets/img/ic-exit.svg">
            Log off
        </div>
    </ng-container>
</div>