<form [formGroup]="form" (ngSubmit)="onSaveClick()">        
        <div class="add-course" *ngIf="isNewOrEdit">
        <div class="title" *ngIf="isCreate">New course</div>
        <div class="title" *ngIf="!isCreate">Edit course</div>

        <div class="caption">
            <span class="label">Name</span>
            <span class="error" *ngIf="name.errors?.required && name.touched">This field is required</span>
            <span class="error" *ngIf="name.errors?.maxlength">Value is too long</span>
        </div>
        <input class="row input" [ngClass]="{ 'error-input':!name.valid}" type="text" formControlName="name">

        <div class="caption">
            <span class="label">Description</span>
            <span class="error" *ngIf="description.errors?.required && description.touched">This field is required</span>
            <span class="error" *ngIf="description.errors?.maxlength">Value is too long</span>
        </div>
        <textarea rows="5" class="row description" [ngClass]="{ 'error-input':!description.valid}" formControlName="description"></textarea>

        <course-date [formControl]="date"></course-date>

        <course-duration [formControl]="length"></course-duration>

        <div class="caption">
            <span class="label">Authors</span>
            <span class="error" *ngIf="authors.errors?.required && authors.touched">This field is required</span>
        </div>
        <input class="row input" [ngClass]="{ 'error-input':!authors.valid}" formControlName="authors">

        <button class="button save-button" [disabled]="!form.valid" type="submit"
            [class.button-disabled]="!form.valid">Save</button>
        <button class="button cancel-button" type="button" (click)="onCancelClick()">Cancel</button>
    </div>
    <angular-not-found *ngIf="!isNewOrEdit"></angular-not-found>
</form>