.add-course {
    font-family: sans-serif;
    padding-top: 30px;
  }
  
  .title {
    font-weight: bold;
    font-size: 24px;
    color: rgb(60, 60, 60);
  }
  
  .col {
    flex: 1;
    display: flexbox;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    color: rgb(90, 90, 90);
  }
  
  .row {
    flex: 1;
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: normal;
    &:last-child {
      justify-content: flex-end;
    }
  }
  
  .caption {
    padding-top: 20px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .description {
    width: 100%;
    border-radius: 3px;
    padding: 0 0;
    border: solid 1px #d9dbe3;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.22px;
    color: grey;
  }
  
  .note {
    padding-top: 30px;
    font-size: 12px;
    text-align: end;
    font-weight: bold;
    flex-grow: 0;
    flex-shrink: 0;
  }
  
  .input {
    width: 100%;
    height: 32px;
    border-radius: 3px;
    padding: 0 0;
    border: solid 1px #d9dbe3;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.22px;
    color: grey;
  }
  
  .date {
    width: 100px;
  }
  
  .duration {
    padding-left: 20px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: grey;
  }
  
  .button {
    margin: 30px 20px 0 0;
    width: 100px;
    height: 36px;
    border-radius: 3px;
    line-height: 1.83;
    letter-spacing: -0.09px;
    border-radius: 3px;
    border: none;
    color: white;
    background-color: gray;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
  }

  .save-button {
    background-color: #9bc837;
  }

.button-disabled {
      background-color: rgb(190, 190, 190);
    }